
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  font-family: 'Manrope', sans-serif;
}
body{
  overflow: hidden;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
@keyframes fade_in{
  from{
    transform: scale(1.1,1.1);
    opacity: 0;
  }
  to{
    transform: scale(1,1);
    opacity: 1;
  }
}
