header{
    height: 60px;
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    animation: header 1s;
    position: fixed;
    z-index: 10;
    top: 0;
}
nav{
    width: 100%;
    height: 100%;
}
.mobile a{
    font-size: min(5vw, 15px)
}
.desktop{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desktop ul{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.desktop ul a{
    height: 80%;
    padding: 0 5px;
    display: inherit;
    align-items: center;
    border-radius: 2px;
    position: relative;
}
.desktop ul a::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    transition: 200ms;
    background-color: #24293A;
}
.desktop ul a:hover::after{
    width: 100%;
    height: 2px;
}
.desktop ul a + a{
    margin-left: 25px;
}
.desktop ul ul{
    display: none;
}
.mobile{
    z-index: 100;
    display: none;
}
@media(max-width:650px){
    .mobile{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .mobile i{
        font-size: 24px;
        cursor: pointer;
    }
    .mobile ul li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile ul{
        width: calc(100vw - 20px);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50%;
        font-size: min(5vw, 25px);
        position: absolute;
        top: 60px;
        right: 50%;
        transform: translateX(50%);
        background-color: var(--back-color);
        box-shadow: 1px 1px 7px #9b9b9b;
    }
    .mobile ul a{
        width: 60%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        text-align: center;
        box-shadow: 1px 1px 3px #9b9b9b;
        margin-bottom: 5px;
        font-weight: 300;
        transition: 200ms;
    }
    .mobile ul a:hover{
        background-color: var(--back-color2);
    }
    .mobile ul a:active{
        background-color: var(--back-color-footer);
        color: #fff;
    }
    .mobile ul ul{
        display: none;
    }
    .mobile .rc img{
        animation: landingImgMobile 1s;
    }
}