/*LANDING*/
#landing{
    width: 100%;
    height: 700px;
}
.landing-page{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.landing-page h1{
    width: 500px;
    flex-wrap: nowrap;
}
.rc{
    width: 400px;
    height: 400px;
}
.rc.fcenter{
    justify-content: flex-end;
}
.rc img{
    width: 90%;
    height: 90%;
}

/*LANDING fim*/

/*ABOUT*/
#about{
    width: 100%;
    height: 100%;
    background-color: var(--back-color2);
}
.about-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-page .box-landing{
    width: 50%;
    padding: 70px 0;
}
.about-page .rc{
    padding: 100px 0;
    width: 400px;
    height: 100%;
}
.about-page .rc img{
    width: 350px;
    height: 350px;
}
.about-page .rc.fcenter{
    justify-content: initial;
}
/*ABOUT FIM*/

/*DOWNLOADS*/
#downloads{
    background-color: var(--back-color3);
}
.donwloads-page{
    height: 100%;
    padding: 100px 0;
}
.donwloads-page h1{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
.multi-cards{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    min-height: 300px;
    margin: 25px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    background-color: var(--card);
    box-shadow: 1px 1px 7px #9b9b9b;
    border-radius: 30px;
    text-align: center;
    font-weight: 300;
}
.card h3 span{
    display: block;
    font-weight: 300;
    font-style: italic;
}
.button{
    background-color: var(--btn-card);
    box-shadow: 1px 1px 7px #9b9b9b,
    0px 0px 1px 2px #e2e2e2 inset;
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    font-weight: 200;
}
.card .button i{
    margin-right: 6px;
    text-align: center;
}
.tools{
    padding-top: 70px;
    width: 100%;
}
.multi-tools{
    padding-top: 70px;
}
.tool-row{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.tool-row h3 span{
    font-weight: 300;
    font-size: 16px;
}
.tool-row .rc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 20px auto;
    width: auto;
    height: auto;
}
.tool-row .rc img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.tool-row .button{
    margin-top: 20px;
    text-align: center;
    display: block;
    padding: 20px 0;
    font-weight: 400;
}
.tool-row .button i{
    margin-right: 10px;
    font-size: 30px;
}
footer{
    height: 60px;
    background-color: var(--back-color-footer);
}
.footer.fcenter{
    justify-content: space-between;
}
.footer h5{
    color: white;
    font-weight: 300;
}
.footer .socials a{
    color: white;
    font-size: 22px;
}
.footer .socials a + a{
    margin-left: 6px;
}
