
.modal-downloads{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}
.modal{
    width: 50%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 20px;
    background-color: var(--back-color2);
    box-shadow: 1px 1px 7px #080808;
    text-align: center;
    overflow-y: initial;
}
.modal .scroll{
    overflow-y: auto;
    height: calc(100% - 42px);
}
.scroll::-webkit-scrollbar {
    width: 10px;
    background: #fdfdfd81; 
  }
.scroll::-webkit-scrollbar-thumb {
    background-color: #08080873;
    border-radius: 10px;
}
.modal-content{
    height: 100%;
}
.modal .close{
    display: block;
    text-align: end;
    font-size: 22px;
}
.modal .close i{
    background-color:rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.modal h1{
    padding-bottom: 10px;
}
.modal .media.rc{
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.modal .media.rc img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.modal p{
    padding-bottom: 10px;
}
.modal .links{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.modal .button{
    background-color: var(--back-color);
    border-radius: 10px;
    margin-bottom: 5px;
}
.modal a{
    color: var(--color-font);
    font-weight: 400;
}
.modal a i{
    margin-right: 10px;
}

