@media(max-width:900px){
    .about-page{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-page .rc{
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 20px 0 60px 0;

    }
    .about-page .rc img{
        width: 80%;
        min-width: 80%;
        height: 100%;
        margin: 0 auto;
    }
    .about-page .box-about{
        margin: 0;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1em;

    }
}
@media(max-width:840px){
    #landing{
        padding-top: 60px;
    }
    .landing-page{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 60px;
    }
    .landing-page .rc{
        justify-content: center;
        margin: 0 auto 60px auto;
        grid-area: imagem;
        width: auto;
        height: auto;
    }
    .landing-page .rc img{
        max-width: 367px;
        min-width: 100%;    
    }
    .box-landing{
        text-align: center;
        grid-area: texto;
    }

}

@media(max-width:650px){
    .desktop{
        display: none;
    }
    .modal{
        width: 80%;
    }
    .modal h1{
        font-size: min(8vw, 20px);
    }
    .modal .button{
        padding: 4px 10px;
    }
    .modal a{
        font-size: min(6vw, 14px)
    }
    .footer{
        font-size: min(5vw,12px);
    }
    .footer h5{
        margin-right: 10px;
    }
    .socials{
        display: flex;
    }
    .socials a i{
        font-size: min(8vw,20px);
    }
}
@media(max-width:530px){
    .landing-page h1{
        width: 100%;
    }
    .tool-row .rc img{
        width: 100%;
    }
    .tool-row .button{
        width: 100%;
    }
    .modal .links{
        flex-direction: column;
    }
    .center{
        width: 90%;
    }
}
@media(max-width:340px){
    .modal a{
        font-size: min(5vw,12px);
    }
    .modal p{
        font-size: min(5vw,12px);
    }

}
@media(max-width:326px){
    .about-page .rc img{
        width: 70%;
        height: 70%;
        margin: 0 auto;
    }
    .tool-row .button{
        padding: 7% 0;
        font-size: min(7vw, 10px);
    }
}
